* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, #f12711, #f5af19);
    background-repeat: no-repeat;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 90px;
    margin: 30px 0;
}

#options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#options button {
    width: 20%;
    height: 80px;
    border-radius: 20px;
    border: none;
    background-color: coral;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

#bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#searchBar {
    width: 30%;
    padding: 15px;
    font-size: 30px;
    outline: none;
    border-radius: 20px;
    border: 3px solid coral;
    background-color: rgba(255, 255, 255, 0.1);
}

.textContainer {
    font-size: 40px;
    text-align: center;
}

.hide {
    display: none;
}

.countrie {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
    width: 50%;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    border: white 3px solid;
    background-color: rgba(255, 255, 255, 0.1);
}

.countrie:hover {
    border: lightgrey 3px solid;
}

.countrie:active {
    border: coral 3px solid;
}

.countrie .flag {
    width: 150px;
}

.countrie .title {
    font-size: 45px;
    margin-left: 30px;
    text-align: center;
}

.city {
    font-size: 20px;
}

.countrieText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}